.batch {
	border: 1px solid red;
	box-shadow: 1px 1px 1px gold;

	padding: 10px;
	margin-bottom: 10px;
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 10px;
	}
}

.batchHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%font-style {
	text-transform: capitalize;
	font-weight: 600;
}

.cancelled {
	@extend %font-style;
	color: red;
}

.complete {
	@extend %font-style;
	color: green;
}

.incomplete {
	@extend %font-style;
	color: indigo;
}
