@import './theme//variables';
.container {
	background-color: $background;
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	padding: 16px;
}

.inputContainer {
	border: 1px solid $primary-color;
	width: 100%;
	padding: 16px;
	margin: 10px;
}

.inputRow {
	width: 100%;
}

.inputBox {
	width: 80%;
}
@media screen and (min-width: 640px) {
	.container {
		background-color: $background;
		flex-direction: row;
	}
}
